  button {
       padding: 10px 20px;
       font-size: 18px;
       background-color: #4CAF50; /* 緑色のボタン */
       color: white;
       border: none;
       border-radius: 5px;
       cursor: pointer;
   }
   button:hover {
       background-color: #45a049; /* ホバー時の色 */
   }





body {
       background-image: url('images/background.jpg');
       background-size: cover;
       font-family: Arial, sans-serif;
       text-align: center;
       margin: 20px;
   }
